In [1]:
name = "python"

In [2]:
#name[0] = 'i'

TypeError: 'str' object does not support item assignment

In [3]:
last = name[1:]

In [4]:
last

'ython'

In [7]:
'i' + last

'iython'

In [8]:
x = 'hello world'

In [11]:
x + " good morning"

'hello world good morning'

In [12]:
x

'hello world'

In [14]:
x = x + " good morning"

In [15]:
x

'hello world good morning good morning'

In [16]:
letter = 'a'

In [17]:
letter

'a'

In [18]:
letter * 10

'aaaaaaaaaa'

In [21]:
'2' + '5'

'25'

In [20]:
2 * 5

10

In [43]:
x = 'heloo world good morning'

In [42]:
x.split('o')

['hel', '', ' w', 'rld g', '', 'd m', 'rning']

In [38]:
x

'HELOO WORLD'

In [44]:
print("helllo")

helllo

In [45]:
my_name ="raghu"

In [49]:
print ("hello" + my_name)

helloraghu

In [50]:
print('tis is string {}' .format('UPDATED'))

tis is string UPDATED

In [61]:
print('the {h} {h}' .format(h='hyd',t='TG'))

the hyd hyd

In [62]:
res = 1000/7777

In [69]:
res =101.123456

In [70]:
print("the result is {r:4.2f}".format(r=res))

the result is 101.12

In [71]:
name = "raghu"

In [73]:
print("hello, my name is {}".format(name))

hello, my name is raghu

In [74]:
print(f"hello, my name is {name}")

hello, my name is raghu

In [76]:
name = "raghu"
age = 3

In [77]:
print(f'{name} is {age} years old')

raghu is 3 years old